Resources:
  newvpc:
    Type: "AWS::EC2::VPC"
    Properties:
      CidrBlock: 10.0.0.0/16
      Tags:
        - Key: Name
          Value: CDS-VPC
  subnetA:
    Type: AWS::EC2::Subnet
    Properties:
      AvailabilityZone: us-east-2a
      CidrBlock: 10.0.1.0/24
      Tags:
        - Key: Name
          Value: public-subnet-2a
      VpcId: !Ref newvpc
  NotificationTopic:    
    Type: AWS::SNS::Topic

Outputs:
  cdsvpc:
    Description: 'vpc id'
    Value: { "Ref" : "newvpc" }
    Export:
      Name: mynewvpc
  subnetA:
    Description: 'Public Subnet 2a'
    Value: !Ref subnetA
    Export:
      Name: subneta 
  NotificationTopicArn:    
    Description: Notification topic ARN    
    Value: { "Ref" : "NotificationTopic" }    
    Export:      
      Name: NotificationTopicArn
