option_settings:
    aws:elasticbeanstalk:application:environment:
        VAR_VPC: '`{ "Fn::ImportValue" : "subneta" }`'
        #VAR_VPC: vpc-1234

    #aws:elasticbeanstalk:application:environment:    
    #    TOPIC_ARN: '`{ "Fn::ImportValue" : "mynewvpc" }`'
    #aws:ec2:vpc:
    #    VPCId:  '`{ "Fn::ImportValue" : "mynewvpc" }`'
    #    AssociatePublicIpAddress: 'true'
    #    ELBScheme: public
    #    ELBSubnets: '`{ "Fn::ImportValue" : "subneta" }`'
    #    Subnets:  '`{ "Fn::ImportValue" : "subneta" }`'
